<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698545418495-674u7vn83746ddlvtsqq19bmikdbj7t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698545418495-674u7vn83746ddlvtsqq19bmikdbj7t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQqE12GXSRNPq2_-juVdAJmpku7M9Hyw</string>
	<key>GCM_SENDER_ID</key>
	<string>698545418495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Go4thSolutions.AADD-Ridesharing</string>
	<key>PROJECT_ID</key>
	<string>aadd-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>aadd-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698545418495:ios:fc9cf1cbb7a67165</string>
	<key>DATABASE_URL</key>
	<string>https://aadd-backend.firebaseio.com</string>
</dict>
</plist>